//[m]ixin_DrawSprite
//  Draws a sprite onscreen
//    @params     integer     required        The Width of the Sprite
//    @params     integer     required        The Height of the Sprite
//    @params     integer     required        The X Offset
//    @params     integer     required        The Y Offset
//    @params     string      required        The Path to the Sprite
.mixin_DrawSprite(@iWidth,@iHeight,@iOffsetX,@iOffsetY,@sSprite) {
    width: @iWidth*1px;
    height: @iHeight*1px;
    background-image: url('@{sSprite}');
    background-position: @iOffsetX*1px @iOffsetY*1px;
}

//[m]ixin_StrokeText
//  Strokes the text with a colored border.  This utilizes
//  the non-standardized webkit stroke and fails over to utilizing
//  eight standard text-shadows to "fake" a 2px stroke around text
//  @params     string      required        The RGB Color you wish to stroke with (e.g.: rgb(0,0,0) )
.mixin_StrokeText(@sColor) {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: @sColor;
    text-shadow:
        -1px -1px 0 @sColor,
         1px -1px 0 @sColor,
        -1px  1px 0 @sColor,
         1px -1px 0 @sColor,
        -2px -2px 0 @sColor,
         2px -2px 0 @sColor,
        -2px  2px 0 @sColor,
         2px  2px 0 @sColor;
}