//COLORS: Elements
@clrOffline:                rgb(231, 76, 60);
@clrOnline:                 rgb(39, 174, 96);
@clrUnknown:                rgb(127, 140, 141);
@clrBackground:             rgb(44, 62, 80);
@clrFont:                   rgb(236, 240, 241);

//FONTS
@fntDefault:  Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
@fntSize:     28pt;

//SPRITES & IMAGES
@imgOnline: "/images/online.png";
@imgOffline: "/images/offline.png";
@imgUnknown: "/images/unknown.png";
