//Constraints and Containers
body {
    background: @clrBackground;
    font-size: @fntSize;
    font-family: @fntDefault;
    color: @clrFont;
}
#container {
    max-width: 1920px;
    margin: 0 auto;
}
#container-sm {
    max-width: 800px;
    margin: 0 auto;
}
.box { margin-top: 15px;}

.databox {
    color: @clrFont;
    background: lighten(@clrBackground,10);
    overflow-x: hidden;
    .prefix_transition(all .2s ease-in-out);
    &.online { background: @clrOnline url(@imgOnline) no-repeat right bottom; }
    &.offline { background: @clrOffline url(@imgOffline) no-repeat right bottom; }
    &.unknown { background: @clrUnknown url(@imgUnknown) no-repeat right bottom; }
    p {
        margin: 0;
        line-height: 1em;
    }
    &:hover {
        .prefix_transform(scale(1.1));
        .prefix_box-shadow(0 0 25px #000);
        z-index: 999;
    }
}
a, a:focus, a:active, a:hover { text-decoration: none;}

.detailsbox {
    h1, h2 {
        padding: 0;
        margin: 0;
        line-height: 1em;
        letter-spacing: 0.1em;
        text-align: center;
    }
    h1 {
        text-transform: uppercase;
        font-size: 1.5em;
    }
    h2 {
        font-size: 0.7em;
        .prefix_opacity(0.7);
    }
    .row {
        font-size: 0.5em;
        padding: 0.25em 0;
        &:nth-child(even) {
            background: lighten(@clrBackground,3);
        }
        &:hover { background: lighten(@clrBackground,15);}
    }
    span {
        border-radius: 0.5em;
        width: 100%;
        text-align: center;
        display: block;
        &.online { background: @clrOnline;}
        &.offline { background: @clrOffline;}
        &.unknown { background: @clrUnknown;}
    }
}
//Status Box Details and Data below
//Test Titles should be uppercase and stroked to avoid image-overlap readability issues
.test-title {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 700;
    padding: 0.25em 0 0 0.25em
}
.online > .test-title { .mixin_StrokeText(@clrOnline);}
.offline > .test-title { .mixin_StrokeText(@clrOffline);}
.unknown > .test-title { .mixin_StrokeText(@clrUnknown); }

//Test Details and Time displayed smaller and translucent
.test-details {
    font-size: 0.5em;
    .prefix_opacity(0.7);
    letter-spacing: 0.1em;
    padding: 0 0 0 0.75em;
}
.test-time {
    font-size: 0.6em;
    padding: 2em 0 0.75em 0.6em;
}

//Bootstrap Override
.col-md-3 { padding: 0 10px;}