body {
  background: #2c3e50;
  font-size: 28pt;
  font-family: Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
  color: #ecf0f1;
}
#container {
  max-width: 1920px;
  margin: 0 auto;
}
#container-sm {
  max-width: 800px;
  margin: 0 auto;
}
.box {
  margin-top: 15px;
}
.databox {
  color: #ecf0f1;
  background: #3e5771;
  overflow-x: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.databox.online {
  background: #27ae60 url("/images/online.png") no-repeat right bottom;
}
.databox.offline {
  background: #e74c3c url("/images/offline.png") no-repeat right bottom;
}
.databox.unknown {
  background: #7f8c8d url("/images/unknown.png") no-repeat right bottom;
}
.databox p {
  margin: 0;
  line-height: 1em;
}
.databox:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0 0 25px #000000;
  box-shadow: 0 0 25px #000000;
  z-index: 999;
}
a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}
.detailsbox h1,
.detailsbox h2 {
  padding: 0;
  margin: 0;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-align: center;
}
.detailsbox h1 {
  text-transform: uppercase;
  font-size: 1.5em;
}
.detailsbox h2 {
  font-size: 0.7em;
  -ms-filter: "progid:DXImageTransform.prefix_Microsoft.prefix_Alpha(Opacity=70)";
  filter: alpha(opacity=(70));
  opacity: 0.7;
}
.detailsbox .row {
  font-size: 0.5em;
  padding: 0.25em 0;
}
.detailsbox .row:nth-child(even) {
  background: #31465a;
}
.detailsbox .row:hover {
  background: #476481;
}
.detailsbox span {
  border-radius: 0.5em;
  width: 100%;
  text-align: center;
  display: block;
}
.detailsbox span.online {
  background: #27ae60;
}
.detailsbox span.offline {
  background: #e74c3c;
}
.detailsbox span.unknown {
  background: #7f8c8d;
}
.test-title {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 700;
  padding: 0.25em 0 0 0.25em;
}
.online > .test-title {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #27ae60;
  text-shadow: -1px -1px 0 #27ae60, 1px -1px 0 #27ae60, -1px 1px 0 #27ae60, 1px -1px 0 #27ae60, -2px -2px 0 #27ae60, 2px -2px 0 #27ae60, -2px 2px 0 #27ae60, 2px 2px 0 #27ae60;
}
.offline > .test-title {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #e74c3c;
  text-shadow: -1px -1px 0 #e74c3c, 1px -1px 0 #e74c3c, -1px 1px 0 #e74c3c, 1px -1px 0 #e74c3c, -2px -2px 0 #e74c3c, 2px -2px 0 #e74c3c, -2px 2px 0 #e74c3c, 2px 2px 0 #e74c3c;
}
.unknown > .test-title {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #7f8c8d;
  text-shadow: -1px -1px 0 #7f8c8d, 1px -1px 0 #7f8c8d, -1px 1px 0 #7f8c8d, 1px -1px 0 #7f8c8d, -2px -2px 0 #7f8c8d, 2px -2px 0 #7f8c8d, -2px 2px 0 #7f8c8d, 2px 2px 0 #7f8c8d;
}
.test-details {
  font-size: 0.5em;
  -ms-filter: "progid:DXImageTransform.prefix_Microsoft.prefix_Alpha(Opacity=70)";
  filter: alpha(opacity=(70));
  opacity: 0.7;
  letter-spacing: 0.1em;
  padding: 0 0 0 0.75em;
}
.test-time {
  font-size: 0.6em;
  padding: 2em 0 0.75em 0.6em;
}
.col-md-3 {
  padding: 0 10px;
}
